/*Experiencia*/
#gridExperiencia {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "titulo titulo titulo"
        "video video video"
        "textExp2 textExp2 textExp2"
        "footer footer footer";
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.titulo {
    grid-area: titulo;
}

.video {
    grid-area: video;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    position: relative;
    width: 60%;
    margin-left: 25%;
    justify-content: center;
}

.textExp2 {
    grid-area: textExp2;
    margin: 5px 5px 5px 5px;
}
